<form [formGroup]="control">
  <div class="form-group">
    <label [attr.for]="listOfTags[0]">Shipping Option : </label>
    <select class="form-control" formControlName="shippingOption" name="shippingOption"
      [ngClass]="getClass(listOfTags[0])">
      <option *ngFor="let shippingOption of service.shippingOptions" [value]="shippingOption.value">
        {{shippingOption.name}}
      </option>
    </select>
    <div *ngIf="showInvalid(listOfTags[0])" class="invalid-feedback">
      This Field is Required
    </div>
  </div>
</form>