<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li [ngClass]="(activeCrumb == 'senderDetails')? 'breadcrumb-item active': 'breadcrumb-item'">Sender Address</li>
      <li [ngClass]="(activeCrumb == 'receiverDetails')? 'breadcrumb-item active': 'breadcrumb-item'">Receiver Address
      </li>
      <li [ngClass]="(activeCrumb == 'weightDetails')? 'breadcrumb-item active': 'breadcrumb-item'">Weight</li>
      <li [ngClass]="(activeCrumb == 'shippingDetails')? 'breadcrumb-item active': 'breadcrumb-item'">Shipping Option
      </li>
      <li [ngClass]="(activeCrumb == 'confirmation')? 'breadcrumb-item active': 'breadcrumb-item'">Confirmation</li>
    </ol>
  </nav>
  <form [formGroup]="wizService.shippingLabelForm" (ngSubmit)="onSubmit(shippingLabelForm)">
    <div id="senderDetailsWrapper" *ngIf="activeCrumb == 'senderDetails'">
      <app-name-and-address-component [control]="wizService.senderDetails" [service]="wizService">
      </app-name-and-address-component>
    </div>
    <div id="receiverDetails" *ngIf="activeCrumb == 'receiverDetails'">
      <app-name-and-address-component [control]="wizService.receiverDetails" [service]="wizService">
      </app-name-and-address-component>
    </div>
    <div id="weightDetails" *ngIf="activeCrumb == 'weightDetails'">
      <app-weight-component [control]="wizService.weightDetails" [service]="wizService"></app-weight-component>
    </div>
    <div id="shippingOption" *ngIf="activeCrumb == 'shippingDetails'">
      <app-shipping-option [control]="wizService.shippingDetails" [service]="wizService"></app-shipping-option>
    </div>
    <div id="buttonSection" *ngIf="activeCrumb != 'confirmation'">
      <button type="button" class="btn btn-secondary" [disabled]="isPreviousDisabled()"
        (click)="onPreviousClick()">Previous</button>
      <button type="button" *ngIf="pageCount != crumbs.length -2" class="btn btn-primary next"
        [disabled]="isNextDisabled()" (click)="onNextClick()">Next</button>
      <button type="button" *ngIf="pageCount == crumbs.length -2" class="btn btn-primary submit"
        [disabled]="wizService.shippingLabelForm.invalid" (click)="onSubmit()">Submit</button>
    </div>
    <div id="confirmationSection" *ngIf="activeCrumb == 'confirmation'">
      <div>From : {{getFromDetails()}}</div> <br />
      <div>To: {{getToDetails()}}</div> <br />
      <div>Shipping Method: {{getShippingMethod()}}</div> <br />
      <div>Weight: {{getWeight()}}</div> <br />
      <div>Cost: {{getCost()}}</div> <br />
    </div>
  </form>
</div>