<!-- <form [formGroup]="service.control">
  <div class="form-group">
    <div *ngFor="let fc of Object.keys(control)">
      <label [attr.for]="fc"> {{control.fc.}} </label>
      <input class="form-control" [attr.name]="fc" [formControlName]="fc" type="text"
        [ngClass]="{ 'invalid-field': control?.fc?.touched && control?.fc?.errors }">
      <div *ngIf="control?.fc?.touched && control?.fc?.errors" class="invalid-feedback">
        This Field is Required
      </div>
      </label>
    </div>
  </div>

</form> -->